<ion-header>
  <ion-navbar>
    <ion-title>Welcome to the CitiPirates App!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">

  <ion-list id="picture-frame" no-lines>
    
      <img [src]="base64Image" *ngIf="base64Image" />
    
  </ion-list>

  <ion-list no-lines>
    <ion-item>
      <button large primary block *ngIf="showUsePictureButton === false" (click)="takePicture()">Take Picture</button>
      <button large secondary block *ngIf="showUsePictureButton === true" (click)="usePicture()">Use</button>
      <button danger block *ngIf="showUsePictureButton === true" (click)="clearPicture()">Retake</button>
    </ion-item>
  </ion-list>

</ion-content>
