<ion-header>
  <ion-navbar>
    <ion-title>Welcome to the CitiPirates App!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
 
  <ion-list>
    <ion-item>
      <button *ngIf="showUsePictureButton === false" (click)="takePicture()">Take Picture</button>
      <button *ngIf="showUsePictureButton === true" (click)="clearPicture()">Retake Picture</button>
      <button *ngIf="showUsePictureButton === true" (click)="usePicture()">Use Picture</button>
    </ion-item>
  </ion-list>

  <div id="picture-frame">
    <img [src]="base64Image" *ngIf="base64Image" />
  </div>

  <div #map id="map"></div>

</ion-content>
